.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8rem;
}

@font-face {
  font-family: "museosans-normal";
  src: url("../fonts/museosans/museosans_0-webfont.ttf") format("ttf");
}

@font-face {
  font-family: "stag-sans-light";
  src: url("../fonts/StagSans-Light.otf") format("woff");
}

@font-face {
  font-family: "stag-sans-bold";
  src: url("../fonts/StagSans-Bold.otf") format("woff");
}

@font-face {
  font-family: "stag-sans-medium";
  src: url("../fonts/StagSans-Medium_0.otf") format("woff");
}

body {
  font-family: museosans-normal, Arial, Helvetica, sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.card{
  background-color: #232323 !important;
}

.banner-convocatoria {
  content: url("../img/banner_convocatoria.png");
}


.navbar-collapse {
  text-align: center;
}

.bg-utec {
  background-color: #00BFFF !important;
}

.btn-utec {
  background-color: #00BFFF !important;
}

.fondo {
  background-image: url("../img/fondo_v2.png");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
}

.acomodar-texto {
  padding-top: 220px;
  box-sizing: border-box;
}

.acomodar-texto h2 {
  font-size: 42px;
}

.acomodar-texto h1 {
  font-size: 62px;
  font-weight: bold;
}

.presentacion {
  padding: 75px 0px 20px;
}

.presentacion h2 {
  font-size: 50px;
  font-weight: bold;
}

.configfila {
  margin: 80px 0px !important;
}

.configimg {
  border-radius: 22%;
  height: 100px;
  width: 100px;
}

.configfila p {
  color: #636363;
}

.configfila h2 {
  font-weight: bold;
}

.presentacion h2 {
  margin-top: 15px;
}

.un-icono {
  margin-top: 13px;
}

.dos-iconos {
  margin-top: 32px;
}

.cuatro-iconos {
  margin-top: 10px;
}

.convocatoria {
  width: 100%;
  padding: 100px 0px 50px;
  background-color: #232323;
  color: white;
}

.convocatoria img {
  border: 2px solid white;
}

.convocatoria h2 {
  font-size: 50px;
  font-weight: bold;
}

.btn-link {
  color: #1bf1a1 !important;
  font-weight: bold !important;
}

.btn-link {
  text-decoration: none !important;
}

.nuestro-equipo {
  padding: 100px 0px 50px;
  width: 100%;
  background-image: url("../img/fondo-dark.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.nuestro-equipo h1 {
  font-size: 50px;
  font-weight: bold;
}

.config-equipo {
  margin: 80px 0px !important;
}

.pie-pagina {
  height: 50px;
}

.pie-pagina h6 {
  line-height: 50px;
}

.scroll-cabecera{
  scroll-behavior: smooth;
}

/* ============================================ Responsive ===============================*/

@media (min-width: 992px) {
    .acomodar-texto h2 {
        font-size: 42px;
      }
    
      .acomodar-texto h1 {
        font-size: 62px;
        font-weight: bold;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .acomodar-texto h2 {
        font-size: 38px;
      }
    
      .acomodar-texto h1 {
        font-size: 58px;
        font-weight: bold;
      }
}

@media (min-width: 575px) and (max-width: 767px) {
    .acomodar-texto h2 {
        font-size: 33px;
      }
    
      .acomodar-texto h1 {
        font-size: 43px;
        font-weight: bold;
      }
}

@media (min-width: 480px) and (max-width: 574px) {
    .acomodar-texto h2 {
        font-size: 30px;
      }
    
      .acomodar-texto h1 {
        font-size: 40px;
        font-weight: bold;
      }
}

@media (max-width: 479px) {

  .fondo {
    background-image: url("../img/Responsive_view_v2.png");
    width: 100%;
    height: 695px;
  }

  .banner-convocatoria {
    content: url("../img/responsive_view.png");
  }

  .presentacion h2 {
    font-size: 40px;
  }

  .acomodar-texto h2 {
    font-size: 22px;
  }

  .acomodar-texto h1 {
    font-size: 32px;
    font-weight: bold;
  }
}